* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: url("image-01.jpg") no-repeat center center / cover;
  height: 100vh;
}

/*
.container{
  background-color: white;
  width: 50%;
  height: 70%;
  border-radius: 5px;
  opacity: 0.9;
  padding: 10px 20px;
  margin:50px auto;
  text-align: center;
}*/
.container {
  width: 50%;
  height: 60%;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header {
  background-color: black;
  color: white;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid white;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.main-content {
  background-color: white;
  opacity: 0.9;
  padding: 10px 20px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-content .quotes {
  font-size: 1.3rem;
  line-height: 1.5;
}
.main-content .author {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: red;
  margin-top: 10px;
}

.main-content .buttons .new-quote-btn {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.main-content .buttons .new-quote-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
