* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(img-2.jpg) no-repeat center center / cover;
  position: relative;
}
.findBtn-btn {
  position: absolute;
  top: 80%;
  left: 30%;
  color: black;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-size: 1.5rem;
  border: 2px solid white;
}

.findBtn-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.completed-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  border: 2px solid white;
  font-size: 1.6rem;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  opacity: 0;
  pointer-events: none;
}

.close-btn{
  font-size: 4rem;
  cursor: pointer;
  color:aquamarine;
  font-weight: 600;
  
  
  
}

.completed-btn-afterClick{
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}