* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: url("img-3.jpg") no-repeat center center / cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 65%;
  background-color: white;
  opacity: 0.9;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.accordion .accordion-title {
  margin-bottom: 30px;
  text-align: center;
}

.accordion .content-container {
  margin-bottom: 15px;
}

.accordion .question {
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 18px 0;
  position: relative;
}

.accordion .question::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 24px;
  transition: 0.3s;
}

.accordion .answer {
  max-height: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.5;
  transition: max-height 0.5s ease;
}

/* When it is active here is working as you see active class is close to content container this means we are adding class near to the content container-there is no space  */
.accordion .content-container.active .answer {
  max-height: 200px; /* yeterli bir yükseklik */
  margin-top: 10px;
}


.accordion .content-container.active .question::after {
  content: "-";
  font-size: 28px;
  color: brown;
}
